*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family:'Bebas Neue', cursive;
    
}
#header{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 5%;
    
    
}
.nav_header{
    display: flex;
    background-image: url(https://i.pinimg.com/originals/80/d1/1c/80d11c35f1603b51b0996ab303d0f592.jpg);
}
.logo_header img{
    width: 60%;
}
.ul_header{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    font-family:'Bebas Neue', cursive ;
   

}
.ul_header li a{
    color: #F2F0CE;
    padding-right: 5rem;
}
.ul_header li a:hover {
    transition: 1s;
    text-decoration: underline 5px solid #060E26;
    
    
}
.search{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #9B7ED9;
    border: none;
    font-family:'Bebas Neue', cursive ;
}


/* slider */
h1 {
    color: #060E26;
    text-align: center;
    font-weight: 300;
  }
  
  #slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 1400px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    text-align: center;
    line-height: 300px;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
  .slider_img li img{
      width: 100%;
      position: relative;
  }
 

  .slider_anime{
      background-color: rgba(93, 89, 217, 0.239);
      box-shadow: 0px 0px 20px 0px #060E26
      ;
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      border-radius: 10px;
  }
  .slider_anime h1{
    font-family:'Bebas Neue', cursive; 

  }

  /********************radio*******************/

  #radio{
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 10%;
  }
  .radio_div{
  
  }
  .text_radio{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
  }
  .text_radio h2{
    border-top: 2px solid black;
    padding-top: 2rem;
      margin-bottom: 0.5rem;
  }
  .video_radio{
    display: flex;
    justify-content: center;
  }
  .video_radio iframe{
    box-shadow: 4px 3px 26px 5px rgba(6,14,38,1);
  
  }
.soiree{
   
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
}
.radio_icon{
    background-color: #fff;
}

/********* scan********/

#scan{
    box-shadow: 0px 0px 10px 0px #060E26;
    
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 5%;

}

.scan_div{
    text-align: center;
    padding: 0 2%;
}
.scan_div a img{
    margin-top: 5%;
    width: 10%;
}

/*****footer*******/
#footer{
background-color: #060E26;
width: 100%;
margin-top: 5%;
}



.footer_content{
  color: #F2F0CE;
  justify-content: center;
  display: flex;
  color: #F2F0CE;
  display: flex;
  gap: 10%;
 
}
.footer_content img{
  width: 50%;
}
.footer_content a{
  color: #F2F0CE;
  display: flex;
}
.separator_footer{
  width: 1px;
  background-color: #9B7ED9;
}
.nav_footer a{
  line-height: 1.5rem;
}
.nav_footer a:hover{
  border-bottom: #F2F0CE 1px solid;
  transition: 1s;
}
.logo_footer{

}
.vlogo{
display: flex;
width: 300px;
gap: 2rem;
}
.vlogo .scantrad_footer{
  width: 90px;
}

/***********scans************/


.scans_presentation{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.scans_presentation p{
  text-align: center;
}
.scans_presentation img{
  width: 300px;
}
.header_scan{
  text-align: center;
  background-image: url(https://th.bing.com/th/id/R.bae6f0a76f24f93c9e98c22d227588e1?rik=LKhjA8sYL5cSeg&pid=ImgRaw&r=0);
}
.header_scan img{
  margin-top: 2rem;
  width: 40%;
}
.header_scan h2{
  padding: 1rem;
}
.header_scan .scantrad_scan{
  width: 50px;
}
.bloc_scan{
  margin-top: 5rem;
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
  justify-content: space-between;
  box-shadow: 1px 1px 47px 3px rgba(0,0,0,0.75);
  padding: 1rem;
  

}
.separator_scan{
  height: 2px;
  width: 100%;
  background-color: #060E26;
}

.bloc_opm{
  background-color:  #060E26;
  filter: grayscale(80%);
}
.bloc_opm:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_opm h2{
  margin-bottom: 1rem;
  color: #F2F0CE;
text-align: center;
}
.bloc_op{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_op:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_op h2{
  margin-bottom: 1rem;
  color: #F2F0CE;
  text-align: center;
}
.bloc_kny{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_kny:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_kny h2{
margin-bottom: 1rem;
color: #F2F0CE;
text-align: center;
}
.bloc_snk{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_snk:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_snk h2{
  margin-bottom: 1rem;
  color: #F2F0CE;
  text-align: center;
}
.bloc_bluelock{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_bluelock:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_bluelock h2{
  margin-bottom: 1rem;
  color: #F2F0CE;
  text-align: center;
}
.bloc_stone{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_stone:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_stone{
  margin-bottom: 1rem;
  color: #F2F0CE;
  text-align: center;
}
.bloc_stone h2{
  margin-bottom: 1rem;
  color: #F2F0CE;
  text-align: center;
}
.bloc_bleach{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_bleach:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_bleach h2{
  margin-bottom: 1rem;
  color: #F2F0CE;
  text-align: center;
}
.bloc_mha{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_mha:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_mha h2{
  margin-bottom: 2rem;
  color: #F2F0CE;
  text-align: center;
}
.bloc_jjk{
  background-color:  #060E26;
  filter: grayscale(80%);

}
.bloc_jjk:hover{
  transition: 1.5s;
  filter: grayscale(0%);
}
.bloc_jjk h2{
  margin-bottom: 1rem;
  color: #F2F0CE;
  text-align: center;
}